.h2 {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    color: var(--color_accent);
}

.hr {
    /* background: rgb(255, 255, 255); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 100%);
    padding: 1px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
}