.card {
    background-color: var(--color_primary);
    border-radius: 5px;
    border-bottom: var(--color_primary_dark) solid 3px;
    border-right: var(--color_primary_dark) solid 3px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: background 250ms;
    width: 100%;
}

.card:hover {
    background-color: var(--color_primary_lighten);
}

.card * {
    padding: 0.5rem;
}