.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: var(--padding);
}

.button {
    background-color: var(--color_accent);
    border-radius: 5%;
    border: none;
    cursor: pointer;
    flex: 0 1 auto;
    padding: var(--padding);
}

.button:hover {
    background-color: var(--color_accent_lighten);
}