.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.container>* {
    display: block;
    width: clamp(20vw, 50vw, 400px);
}

.container>input[type='text'] {
    color: black;
    padding: var(--padding);
}

.isActiveContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: row-reverse;
}

@media (width>768px) {
    .container {
        flex-direction: row;
    }
}