.snackbar {
    align-items: center;
    background-color: #00f593;
    border-radius: 1rem;
    border: solid black 1px;
    color: black;
    display: flex;
    height: 3rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5%;
    width: min(20rem, 100%);
}

.animated {
    animation: fadeIn 0.5s, fadeOut 0.5s 3s;
}

.icon {
    flex-basis: 20%;
}

.message {
    flex-basis: 80%;
    text-align: start;
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 50px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}