:root {

    --color_primary: hsl(212, 20%, 25%);
    --color_primary_lighten: hsl(212, 20%, 35%);
    --color_primary_darken: hsl(212, 20%, 18%);
    --color_primary_dark: hsl(212, 20%, 5%);

    --color_secondary: hsl(180, 8%, 14%);
    --color_secondary_lighten: hsl(180, 8%, 24%);
    --color_secondary_darken: hsl(180, 8%, 8%);

    --color_accent: hsl(152, 44%, 43%);
    --color_accent_lighten: hsl(152, 44%, 68%);

    --padding: 0.5rem 1.5rem;
    --card_size: 18rem;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#root {
    background-color: var(--color_primary_darken);
    color: white;
    min-height: 100vh;
}

input {
    color: black;
}

:is(input[type='checkbox'], button, input[type='checkbox']~label):hover {
    cursor: pointer;
}