.nav {
    background-color: var(--background_color_primary);
    height: 5vh;
}

.ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
}

.ul li {
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
}

.ul a {
    background-color: var(--color_secondary);
    display: grid;
    height: 100%;
    place-content: center;
    transition: background 250ms;
    width: 100%;
}

.ul a:hover,
.ul a:active,
.ul a:focus-within {
    background-color: var(--color_secondary_lighten);
}