.wrapper,
.wrapper_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    padding: var(--padding);
}

.wrapper_box {
    flex-flow: row-reverse;
    justify-content: flex-end;
}

.input {
    border-radius: 5px;
    padding: var(--padding);
}

.label {
    text-transform: capitalize;
}